/* body{
	 background: #f8f8f8; 
} */
.login-form {
	position: relative;
	background: #f8f8f8;
	min-height: 100%;
}
.login-form form {
    width: 580px;
    margin: auto;
    padding-top: 170px;
    /* height: 100%; */
}
.login-form h2 {
    margin: 0 0 15px;
    font-size: 27px;
    font-weight: 500;
}
.az_login_input{border: 1px solid #ccc; border-radius: 0px; box-shadow: none; height: 38px;}
.az_login_btn{background: #3498db; color: #fff; border-radius: 0px; box-shadow: none; height: 38px;}
/*�ٸ� ȭ�鿡����  style�� �����ϰ� ����
.form-control, .btn {
    min-height: 30px;
    border-radius: 2px;
}
*/